.animate{
    position: absolute;
    border-radius: 50%;
    border:none;
    background-color: black;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 50%;
    flex-wrap: wrap;
    font-size: 25px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
 

.animate:hover{
 cursor: pointer;
}

.animate i {
    position: relative;
    z-index: 9999;
}


.animate form{
    opacity: 0;
    display: none;
    transform: scale(0);
    transition: all .6s;
    pointer-events: none;
}

.animate input{
    padding: 11px;
    border: navajowhite;
    margin-bottom: 10px;
    background-color: #f7f7f7;
}

.animate button{
  display: block;
  padding: 15px;
  background-color: cadetblue;
  border-radius: 7px;
  border: none;
  width: 100%;
}

 

 

/* .round {
    transform: rotate(-90deg);
    transition: all 1s ease-in-out;
    
 
    fill: none;
    stroke: gree;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 0 999;
  } */

  .btnserch{
    background-color: aqua;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 33px;
    z-index: 32;
  }

  .btnserch:hover{
  cursor: pointer;
  }

  .btnserch input{
    position: relative;
    left: 0px;
    pointer-events: none;
    padding: 19px 62px;
    border: none;
    display: none;
    opacity: 0;
    z-index: 9999;
    background-color: #fff;
    border-radius: 50px;
  }

  .btnserch i{
 
    color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4%;
    position: relative;
    z-index: 99999999999;
  }

  .btnserch span{
    position: absolute;
    left: 4%;
    top: 7px;
  }

 .anim{
   width: 350px;
   height: 350px;
   border-radius: 50px;
   background-color: red;
   transition: all .6s;
 }

 .anim.border{
  border-radius: 20px;
 }

 .tabs{
   display: flex;


 }

 .conts{
   width: 750px;
      margin: auto;
 }

 .steps{
    padding: 15px;
    width: 33.3333%;
    text-align: center;
  
 }

 .steps i {
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50px;
  border: 3px solid brown;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
 }

 .buttn{
   margin-top: 30px;
   display: flex;
  justify-content: space-between;
 }

 .buttn button{
  padding: 8px 15px;
  background-color: brown;
  border-radius: 2px;
border: none;
color: #fff;
 }

.showtab{
  display: none;
}

button:hover{
  cursor: pointer;
}

.showtab.active{
  display: block;
}

.steps.active p{
  color: brown;
}

.steps.active i{
  background-color:brown;
  color: #fff;
}

.prev{
  opacity: 0;
}

.step-1.active i::after, .step-1.checked i::after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: brown;
  width: 179px;
  left: 71px;
}

.step-3.active i::after, .step-3.checked i::after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: brown;
  width: 196px;
  right: 53px;
}

.cartimg{
  width: 50px;
}